In [11]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

train_df = pd.read_csv("QB2022_MLR.csv")
test_df = pd.read_csv("QB2022_MLR_test.csv")

display('Train_df',train_df.head())
display('Test_df', test_df.head())

X_train = train_df.drop(columns=['Year', 'Player', 'Rate'])
y_train = train_df['Rate']

X_test = test_df.drop(columns=['Year', 'Player', 'Rate'])
y_test = test_df['Rate']

model = LinearRegression()
model.fit(X_train, y_train)

print("Intercept:", model.intercept_)
print("Coefficient:", model.coef_)

'Train_df'

   Year           Player  Pass Yds  Yds/Att  Att  Cmp  Cmp %  TD  INT   Rate
0  2022       Jared Goff      4438      7.6  587  382   65.1  29    7   99.3
1  2022       Josh Allen      4283      7.6  567  359   63.3  35   14   96.6
2  2022       Geno Smith      4282      7.5  572  399   69.8  30   11  100.9
3  2022  Trevor Lawrence      4113      7.0  584  387   66.3  25    8   95.2
4  2022      Jalen Hurts      3701      8.0  460  306   66.5  22    6  101.6

'Test_df'

   Year           Player  Pass Yds  Yds/Att  Att  Cmp  Cmp %  TD  INT   Rate
0  2022  Patrick Mahomes      5250      8.1  648  435   67.1  41   12  105.2
1  2022   Justin Herbert      4739      6.8  699  477   68.2  25   10   93.2
2  2022        Tom Brady      4694      6.4  733  490   66.8  25    9   90.7
3  2022     Kirk Cousins      4547      7.1  643  424   65.9  29   14   92.5
4  2022       Joe Burrow      4475      7.4  606  414   68.3  35   12  100.8

Intercept: -42.777006364868726
Coefficient: [-0.0066903   4.52455396  0.26596128 -0.33488072  1.47996495  1.402845
 -2.28659449]

In [12]:
predictions = model.predict(X_test)

predictions

array([114.8007751 ,  95.59226257,  98.98738212,  94.15009489,
       106.03957719])

In [13]:
print("Predicted Rate")
test_df['Predicted Rate'] = predictions
display(test_df.head())

Predicted Rate

,Year,Player,Pass Yds,Yds/Att,Att,Cmp,Cmp %,TD,INT,Rate,Predicted Rate
0,2022,Patrick Mahomes,5250,8.1,648,435,67.1,41,12,105.2,114.800775
1,2022,Justin Herbert,4739,6.8,699,477,68.2,25,10,93.2,95.592263
2,2022,Tom Brady,4694,6.4,733,490,66.8,25,9,90.7,98.987382
3,2022,Kirk Cousins,4547,7.1,643,424,65.9,29,14,92.5,94.150095
4,2022,Joe Burrow,4475,7.4,606,414,68.3,35,12,100.8,106.039577

In [14]:
from sklearn.metrics import mean_squared_error
print('Mean Squared Error')
mse = mean_squared_error(test_df['Rate'],test_df['Predicted Rate'])
mse

Mean Squared Error

39.35089751300326

Feature Engineering

In [16]:

train_df['Cmp/Att'] = train_df['Cmp'] / train_df['Att']
train_df['TD/Att'] = train_df['TD'] / train_df['Att']

test_df['Cmp/Att'] = test_df['Cmp'] / test_df['Att']
test_df['TD/Att'] = test_df['TD'] / test_df['Att']

features = ['Yds/Att', 'Cmp/Att', 'TD/Att']
X_train = train_df[features]
y_train = train_df['Rate']

X_test = test_df[features]
y_test = test_df['Rate']

model = LinearRegression()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

squared_errors = (y_test - predictions) ** 2
mse = np.mean(squared_errors)

print('train_df')
display(train_df)

print('Test_df')
display(test_df)

print("Intercept:", model.intercept_)
print("Coefficients:", features, model.coef_)
print("Mean Squared Error (MSE):", mse)

train_df

,Year,Player,Pass Yds,Yds/Att,Att,Cmp,Cmp %,TD,INT,Rate,Cmp/Att,TD/Att
0,2022,Jared Goff,4438,7.6,587,382,65.1,29,7,99.3,0.650767,0.049404
1,2022,Josh Allen,4283,7.6,567,359,63.3,35,14,96.6,0.633157,0.061728
2,2022,Geno Smith,4282,7.5,572,399,69.8,30,11,100.9,0.697552,0.052448
3,2022,Trevor Lawrence,4113,7.0,584,387,66.3,25,8,95.2,0.662671,0.042808
4,2022,Jalen Hurts,3701,8.0,460,306,66.5,22,6,101.6,0.665217,0.047826
...,...,...,...,...,...,...,...,...,...,...,...,...
65,2022,Chris Streveler,90,6.0,15,10,66.7,0,0,82.6,0.666667,0.000000
66,2022,Jacob Eason,59,11.8,5,3,60.0,0,1,61.7,0.600000,0.000000
67,2022,Tyrod Taylor,58,7.2,8,6,75.0,1,1,94.8,0.750000,0.125000
68,2022,Chase Daniel,52,4.3,12,8,66.7,1,0,103.5,0.666667,0.083333
69,2022,Brian Hoyer,37,6.2,6,5,83.3,0,0,92.4,0.833333,0.000000

Test_df

,Year,Player,Pass Yds,Yds/Att,Att,Cmp,Cmp %,TD,INT,Rate,Predicted Rate,Cmp/Att,TD/Att
0,2022,Patrick Mahomes,5250,8.1,648,435,67.1,41,12,105.2,114.800775,0.671296,0.063272
1,2022,Justin Herbert,4739,6.8,699,477,68.2,25,10,93.2,95.592263,0.682403,0.035765
2,2022,Tom Brady,4694,6.4,733,490,66.8,25,9,90.7,98.987382,0.668486,0.034106
3,2022,Kirk Cousins,4547,7.1,643,424,65.9,29,14,92.5,94.150095,0.659409,0.045101
4,2022,Joe Burrow,4475,7.4,606,414,68.3,35,12,100.8,106.039577,0.683168,0.057756

Intercept: -22.431076218617463
Coefficients: ['Yds/Att', 'Cmp/Att', 'TD/Att'] [  3.28389874 110.49147089 365.44531551]
Mean Squared Error (MSE): 16.28886722823315